﻿<!DOCTYPE html>
<html class="fullGrandiant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerdery Project Primer</title>
    <!-- TODO: Use FE boiler plate instead of manual links -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/site.css">
    @if (ViewBag.IsClass)
    {
        <link rel="stylesheet" type="text/css" href="/Content/class.css" />
    }
    <script src="/Scripts/modernizr-*"></script>
    <link href="/Content/fullScreen.css" rel="stylesheet"/>

</head>
<body style="background-color: #@ViewBag.BackgroundColor;">
<div class="centered">
    @RenderBody()
</div>
    <!-- TODO: Use FE boilerplate instead of manual links -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/KeyPress.js"></script>
</body>
</html>
