﻿@{
    Layout = null;
    var helper = new UmbracoHelper(UmbracoContext.Current);
    var currentContent = helper.Content(UmbracoContext.Current.PageId);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@currentContent.Name</title>

    <!-- TODO: Use FE boiler plate instead of manual links -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/site.css">
    @if (ViewBag.IsClass != null && ViewBag.IsClass)
    {
        <link href="/Content/class.css" rel="stylesheet"/>
    }

    <script src="/Scripts/modernizr-*"></script>
</head>

<body>
    @Html.Partial("Partials/_TopNav")
    @RenderSection("Header", required: false)
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- TODO: Use FE boilerplate instead of manual links -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/KeyPress.js"></script>
</body>
</html>
