﻿@using NerderyTraining.Models
@{
    var currentTrainingView = (ViewBag.IsClass != null && ViewBag.IsClass == true) ? "Class" : "Reference";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="globalLogo">
                <a href="//nerdery.com/" class="globalLogo-container js-globalHeader-tabIndexToggle" tabindex="-1">
                    <div class="globalLogo-container-mark">
                        <svg version="1.1" class="globalLogo-container-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79 100" focusable="false" style="enable-background: new 0 0 79 100;" xml:space="preserve">
                        <g>
                        <path d="M6.5,24.1v-8.3c0-1.1,0-2.2,0.1-3.3H5.2c-1.9,0-3.4,1.5-3.4,3.4v9.2c1-0.7,2.3-1.1,3.6-1.1H6.5z"></path>
                        <path d="M21.6,24.1L21.6,24.1l52.2,0c1.3,0,2.6,0.4,3.6,1.1V16c0-1.9-1.5-3.4-3.4-3.4H21.4c0.1,1.1,0.1,2.1,0.1,3.2
                                                            L21.6,24.1z"></path>
                        <path d="M12.2,34.8L12.2,34.8c0.1,0.9,0.9,1.6,1.8,1.6c0.9,0,1.7-0.7,1.8-1.6h0V24.1h3v-9.8c0,0-0.4-5.8-1.2-8.4
                                                            c-0.8-2.6-1.3-4-3.6-4c-2.2,0-2.7,1.4-3.6,4c-0.8,2.6-1.2,8.4-1.2,8.4v9.8h3V34.8z"></path>
                        <path d="M73.3,26.8H18.5V35h0c-0.2,2.3-2.1,4.2-4.5,4.2S9.6,37.3,9.5,35h0v-8.2H5.7c-2.7,0-4.4,1.7-4.4,4.4v46
                                                            c0,1.8,1,3.5,2.7,4.3l31.4,15.7c2.6,1.3,5.7,1.3,8.4,0l31.4-15.7c1.6-0.8,2.7-2.5,2.7-4.3v-46C77.7,28.5,76,26.8,73.3,26.8z
                                                             M56.2,71.4c0,1.3-1.3,2.2-2.4,1.4c-1.1-0.8-23-16.4-23.3-16.6c-0.3-0.2-0.4,0-0.4,0.2c0,0.2,0,13,0,14.1c0,1.1-0.8,2-1.9,2H25
                                                            c-1,0-1.9-0.9-1.9-2c0-1.1,0-24.4,0-24.4c0-1.3,1.3-2.1,2.4-1.4c1.2,0.8,23.1,16.4,23.3,16.6c0.2,0.1,0.4,0,0.4-0.2
                                                            c0-0.2,0-13,0-14.1s0.8-2,1.9-2h3.1c1,0,1.9,1,1.9,2C56.2,48,56.2,71.4,56.2,71.4z"></path>
                                </g>
                            </svg>
                    </div>
                    <div class="globalLogo-container-type">
                        <svg version="1.1" class="globalLogo-container-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 209 24.8" focusable="false" style="enable-background: new 0 0 209 24.8;" xml:space="preserve">
                        <g>
                        <path d="M25.7,1.5h-2.5c-0.8,0-1.5,0.7-1.5,1.5s0,10.9,0,11.1c0,0.2-0.2,0.3-0.3,0.2C21.3,14.2,4,1.8,3.1,1.2
                                                        C2.2,0.7,1.2,1.3,1.2,2.3c0,0,0,18.3,0,19.2c0,0.9,0.7,1.5,1.5,1.5h2.5c0.8,0,1.5-0.7,1.5-1.5c0-0.9,0-10.9,0-11.1
                                                        c0-0.2,0.1-0.3,0.3-0.2c0.2,0.1,17.5,12.4,18.3,13c0.9,0.6,1.9-0.1,1.9-1.1c0,0,0-18.4,0-19.2S26.5,1.5,25.7,1.5z"></path>
                        <path d="M33.5,21.8v-19c0-0.7,0.6-1.3,1.3-1.3h20.8c0.7,0,1.3,0.6,1.3,1.3v1.6c0,0.7-0.6,1.3-1.3,1.3H38.8v4.4h11.3
                                                        c0.7,0,1.3,0.6,1.3,1.3V13c0,0.7-0.6,1.3-1.3,1.3H38.8V19h17.7c0.7,0,1.3,0.6,1.3,1.3v1.6c0,0.7-0.6,1.3-1.3,1.3H34.8
                                                        C34.1,23.1,33.5,22.5,33.5,21.8z"></path>
                        <path d="M81.7,22.5l-4.9-7h-9.9v6.4c0,0.7-0.6,1.3-1.3,1.3h-2.7c-0.7,0-1.3-0.6-1.3-1.3v-19c0-0.7,0.6-1.3,1.3-1.3h16.4
                                                        c4.9,0,8.1,2.9,8.1,7.1c0,3.4-1.7,5.6-4.9,6.5l4.6,6.7c0.4,0.6,0,1.3-0.7,1.3h-3.6C82.4,23.1,82,22.9,81.7,22.5z M82.2,8.5
                                                        c0-1.6-1.3-2.8-3.5-2.8H66.9v5.7h11.8C81,11.3,82.2,10.2,82.2,8.5z"></path>
                        <path d="M124.2,21.8v-19c0-0.7,0.6-1.3,1.3-1.3h20.8c0.7,0,1.3,0.6,1.3,1.3v1.6c0,0.7-0.6,1.3-1.3,1.3h-16.9v4.4h11.3
                                                        c0.7,0,1.3,0.6,1.3,1.3V13c0,0.7-0.6,1.3-1.3,1.3h-11.3V19h17.7c0.7,0,1.3,0.6,1.3,1.3v1.6c0,0.7-0.6,1.3-1.3,1.3h-21.7
                                                        C124.7,23.1,124.2,22.5,124.2,21.8z"></path>
                        <path d="M172.3,22.5l-4.9-7h-9.9v6.4c0,0.7-0.6,1.3-1.3,1.3h-2.7c-0.7,0-1.3-0.6-1.3-1.3v-19c0-0.7,0.6-1.3,1.3-1.3h16.4
                                                        c4.9,0,8.1,2.9,8.1,7.1c0,3.4-1.7,5.6-4.9,6.5l4.6,6.7c0.4,0.6,0,1.3-0.7,1.3h-3.6C173,23.1,172.6,22.9,172.3,22.5z M172.9,8.5
                                                        c0-1.6-1.3-2.8-3.5-2.8h-11.8v5.7h11.8C171.6,11.3,172.9,10.2,172.9,8.5z"></path>
                        <path d="M119.9,12.6c0,3.1-1.3,5.8-3.8,7.8c-2.2,1.7-5.2,2.7-8.5,2.7H93.7c-0.7,0-1.3-0.6-1.3-1.3v-19c0-0.7,0.6-1.3,1.3-1.3h13.2
                                                        C114.9,1.6,119.9,6,119.9,12.6z M113.1,16.2c0.9-1.1,1.3-2.4,1.3-3.7c0-3.9-3-6.8-7.2-6.8h-9.6V19h9.6
                                                        C109.5,19,111.8,17.9,113.1,16.2z"></path>
                        <path d="M196.3,14.6V22c0,0.6-0.5,1.1-1.1,1.1h-3c-0.6,0-1.1-0.5-1.1-1.1v-7.4l-11.5-12c-0.5-0.5-0.1-1.4,0.6-1.4h4.1
                                                        c0.4,0,0.8,0.2,1,0.4l8.4,8.7l8.4-8.7c0.3-0.3,0.6-0.4,1-0.4h4.1c0.7,0,1.1,0.9,0.6,1.4L196.3,14.6z"></path>
                                </g>
                            </svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <form id="form-id" method="post" action="/home/switchTrainingView">
                <input name="returnUrl" id="returnUrl" type="hidden" value="@Request.Url.AbsolutePath" />
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@ViewBag.CurrentCurriculum.Url">@ViewBag.CurrentCurriculum.Name</a><a href="#" onclick="swapCookie()">{ @currentTrainingView }</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function swapCookie() {
        document.cookie = "isClass=" + !(@ViewBag.IsClass.ToString().ToLower()) + "; path=/";
        location.reload();
    }
</script>




