﻿@using NerderyTraining.Extensions
@model IPublishedContent
@{
    var siblings = Model.Parent.Children.ToList();
}
<ul class="nav nav-pills js-nav" role="tablist">
    @foreach (var sibling in siblings)
    {
        @Html.TopicMenuItem(sibling.Url, sibling.Name)
        if (sibling != siblings.Last())
        {
            <li class="arrow">-</li>
        }
    }
</ul>