﻿@{
    Layout = null;
}
@model NerderyTraining.Models.BreakViewModel
<!DOCTYPE html>
<html class="fullGrandiant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerdery Project Primer</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/site.css">
    @if (ViewBag.IsClass)
    {
        <link href="/Content/class.css" rel="stylesheet" />
    }
    <script src="/Scripts/modernizr-*"></script>
    <link href="/Content/fullScreen.css" rel="stylesheet" />
    <style>
        body {
            background-image: url("/Content/images/lets-go-out-to-the-lobby.gif");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .jumbotron h1 {
            color: #000000;
        }

        .landingPage .jumbotron {
            background-color: rgba(255, 2555, 255, 0.5);
        }

        .landingPage .jumbotron {
            padding: 60px;
        }
    </style>
</head>
<body>

    <div class="landingPage">
        <div class="jumbotron">
            <h1 class="nerderyPurpleText">Break!</h1>
            <h1>Be back in <span class="js-countdown">@Model.Time:00</span> minutes</h1>
            <p>
                <a href="@ViewBag.CurrentCurriculum.Url" class="btn btn-sm nerderyGreenBack js-next">Get back to it &raquo;</a>
            </p>
        </div>
    </div>
    <!-- TODO: Use FE boilerplate instead of manual links -->
    <script src="~/Scripts/jquery-{version}.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script type="text/javascript" src="/Scripts/KeyPress.js"></script>
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = 0;
                }
            }, 1000);
        }

        window.onload = function () {
            var tenMinutes = 60 * @Model.Time,
                display = document.querySelector('.js-countdown');
            startTimer(tenMinutes, display);
        };
    </script>
</body>
</html>