﻿@{
    Layout = "Shared/_Master.cshtml";

    var breakNode = Vault.Context.GetChildren<BreakViewModel>(((IPublishedContent)ViewBag.CurrentCurriculum).Id).FirstOrDefault();
}
@using NerderyTraining.Models
@using UmbracoVault
@model NerderyTraining.Models.CurriculumViewModel

@section Header
{
    <div class="jumbotron nerderyGradientBack">
        <div class="container body-content">
            <h1>@Model.Content.Name</h1>
            <p class="lead">@Model.Tagline</p>
        </div>
    </div>
}
<div class="row">
    @foreach (var module in Model.Modules)
    {
        <a href="@module.Content.Url">
            <div class="col-md-6">
                <div class="mediaSquare" style="background-color: #@module.Color;">
                    <h2 class="mediaSquare-title">@module.Content.Name</h2>
                    <span class="mediaSquare-link">@module.TrainingLinkText &raquo;</span>
                </div>
            </div>
        </a>
    }
</div>
@if (breakNode != null)
{
    <div class="row">
        <div class="col-md-12">
            <a href="@breakNode.Content.Url" class="btn btn-full">Take a Break</a>
        </div>
    </div>
}
