﻿@{
    Layout = "Shared/_Master.cshtml";
}
@using NerderyTraining.Models
@using UmbracoVault
@model NerderyTraining.Models.CurriculumViewModel

@{
    var children = Vault.Context.GetChildren<TrainingModuleViewModel>(Model.Content.Id).ToList();
}

<div class="jumbotron nerderyGradientBack">
    <h1>@Model.Content.Name</h1>
    <p class="lead">@Model.Tagline</p>
</div>
@foreach (var module in Model.Modules)
{
    <div class="col-md-6 mediaSquare">
        <h2>@module.Content.Name</h2>
        <p>@Html.Raw(@module.Description)</p>
        <p>
            <a href="@module.Content.Url" class="btn btn-primary mediaSquare-link" style="background-color: #@module.Color;">@module.TrainingLinkText &raquo;</a>
        </p>
    </div>
}