﻿@model NerderyTraining.Models.GenericPageViewModel
@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@Html.Raw(Model.PageContent)

@*<div class="jumbotron nerderyTurquoiseBack">
        <h1>How about a nice game of Mad Libs?</h1>
        <p>In order to make things interesting, you're going to create a new project from scratch... with a mad lib. If that doesn't sound fun, you can <a href="#" class="nerderyPurpleText js-default-link">use the default project</a> instead.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/Process/ReadMadLib" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <label>Business Buzzword</label>
                        <input class="form-control" id="ClientName1" name="ClientName1" type="text" value=""/>
                    </div>
                    <div class="col-md-4">
                        <label>Business Buzzword</label>
                        <input class="form-control" id="ClientName2" name="ClientName2" type="text" value=""/>
                    </div>
                    <div class="col-md-4">
                        <label>Fancy Color</label>
                        <input class="form-control" id="ProductName1" name="ProductName1" type="text" value=""/>
                    </div>
                </div>
                <div class="row row-spaced">
                    <div class="col-md-4">
                        <label>A people group</label>
                        <input class="form-control" id="ProductTargetAudience" name="ProductTargetAudience" type="text" value=""/>
                    </div>
                    <div class="col-md-4">
                        <label>An up and coming technology</label>
                        <input class="form-control" id="Technology" name="Technology" type="text" value=""/>
                    </div>
                    <div class="col-md-4">
                        <label>A gaming console</label>
                        <input class="form-control" id="Platform" name="Platform" type="text" value=""/>
                    </div>
                </div>
                <div class="row row-spaced">
                    <div class="col-md-4">
                        <label>Your first internet browser</label>
                        <input class="form-control" id="RequiredBrowser" name="RequiredBrowser" type="text" value=""/>
                    </div>
                    <div class="col-md-4">
                        <label>The amount of cash on you right now</label>
                        <input class="form-control" data-val="true" data-val-number="The field Budget must be a number." data-val-required="The Budget field is required." id="Budget" name="Budget" type="text" value=""/>
                    </div>
                    <div class="col-md-4">
                        <label>Your birthday</label>
                        <input class="form-control" id="EndDate" name="EndDate" type="text" value=""/>
                    </div>
                </div>
                <div class="row row-spaced">
                    <div class="col-md-12">
                        <a href="/project-primer/project-process/par" class="btn btn-primary">Submit</a>
                        <a href="/project-primer/project-process/par" class="btn btn-sm nerderyGrayText js-submit-madlib">Use default project</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    TODO: Write script to concatenate each of the inputs into a string and save to cookie. Or... individual cookies?
    *@

