﻿@model NerderyTraining.Models.HomeViewModel
@{
    Layout = "Shared/_Master.cshtml";
}

<ul>
    @foreach (var curriculum in @Model.Content.Site().Children)
    {
        <li><a href="@curriculum.Url">@curriculum.Name</a></li>
    }
</ul>