﻿@using NerderyTraining.Models
@model TrainingTopicViewModel
@{
    Layout = "~/Views/Shared/_Master.cshtml";
    List<TrainingComponentViewModel> modules = Model.Rows.SelectMany(r => r.TrainingComponents.Where(t => !t.HideForClassroom)).ToList();
}

@section Header
{
    <div class="jumbotron jumbotron_abrupt nerderyTurquoiseBack">
        <div class="container body-content">
            @Html.Partial("Partials/_TopicNav", Model.Content)
            <h1>@Model.Content.Name</h1>
        </div>
    </div>
}

<div class="tab-content">
    @for (int i = 0; i < modules.Count(); i++)
    {
        var activeClass = (i == 0) ? " in active" : string.Empty; 
        <div id="tab-@i" class="tab-pane fade@(activeClass)">
            <h1>@modules[i].Content.Name</h1>
            @Html.Raw(modules[i].ClassroomContent)

            <div class="tab-nav js-tab-nav">
                @if (i > 0)
            {
                    <a data-toggle="tab" class="tab-nav-prev js-prev" href="#tab-@(i - 1)">previous</a>
                }
                @if (i < (modules.Count() - 1))
            {
                    <a data-toggle="tab" class="tab-nav-next js-next" href="#tab-@(i + 1)">next</a>
                }
            </div>
        </div>
    }
</div>