﻿@model NerderyTraining.Models.TrainingModuleViewModel

@{
    Layout = "~/Views/Shared/_FullScreen.cshtml";
    ViewBag.BackgroundColor = Model.Color;
}
<div class="landingPage">
    <div class="jumbotron" style="background-color: #@Model.Color;">
        <h1>@Model.Content.Name</h1>
        <p>
            @Html.Raw(Model.JumbotronContent)
        </p>
    </div>
    @if (Model.Topics != null && Model.Topics.Any())
    {
        <div class="row">
            <div class="col col-lg-12">
                <ul>
                    @foreach (var topic in Model.Topics)
                    {
                        <li><a href="@topic.Url">@topic.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="@Model.Topics.First().Url" class="btn btn-sm nerderyGreenBack js-next">@Model.TrainingLinkText &raquo;</a>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col col-lg-12">
                <ul>
                    <li>No Topics have been added for this module.</li>
                </ul>
            </div>
        </div>
    }
</div>

