﻿@model NerderyTraining.Models.TrainingTopicViewModel
@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@Html.Partial("partials/_TopicNav", Model.Content)

<div class="jumbotron nerderyTurquoiseBack">
    <h1>@Model.Content.Name</h1>
    @Html.Raw(Model.JumbotronContent)
</div>

@foreach (var row in Model.Rows)
{
    <div class="row">
        @foreach (var component in row.TrainingComponents.Where(c => !c.HideForReference))
        {
            <div class="@row.ColumnClass">
                <div class="infoBox infoBox_border_@component.BorderClass">
                    @if (!component.HideHeader)
                    {
                        <div class="infoBox-hd infoBox-hd_@component.HeaderSizeClass infoBox-hd_align_@component.HeaderAlignmentClass" style="background-color: #@component.HeaderColor;">
                            <h2>@component.Content.Name</h2>
                        </div>
                    }
                    <div class="infoBox-bd">
                        @Html.Raw(component.ReferenceContent)
                    </div>
                </div>
            </div>
        }
    </div>
}

