﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
@model NerderyTraining.Models.VideoTopicViewModel

@section Header
    {
    <div class="jumbotron jumbotron_abrupt nerderyPurpleBack">
        <div class="container body-content">
            @Html.Partial("Partials/_TopicNav", Model.Content)
        </div>
    </div>
}

<div class="videoWrapper">
    @Model.VimeoId
    <iframe src="https://player.vimeo.com/video/@Model.VimeoId?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>