﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
@model NerderyTraining.Models.VideoTopicViewModel

@Html.Partial("partials/_TopicNav", Model.Content)

<div class="videoWrapper">
    @Model.VimeoId
    <iframe src="https://player.vimeo.com/video/@Model.VimeoId?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>