﻿
/*
    This sheet exists to make the site "classroom" friendly.
    Mainly, it increases font sizes and makes the site easier to see when projected on a screen from far away

    Classroom screen sizes (internal window): 
    - 1270 x 647
    - 1910 x 1010
*/

html, body{
  height:100%;
}

/*
    Bootstrap resets
*/
body {
     font-size: 21px; 
     padding-top: 0
}

h2 { font-size: 30px; }

.row { margin-bottom: 15px; }

.btn-primary { font-size: 25px; }

.btn-sm { font-size: 18px; }

.btn-full {
    font-size: 25px;
    background-color: #DCDFE0;
    color: #A6B1B2;
    margin-top: 0;
    width: 100%;
    padding: 13px;
}

.nav-pills { font-size: 19px; }

.nav-pills .arrow { padding: 10px 0; } 

.panel-heading h2 {
    margin-top: 15px;
    margin-bottom: 13px;
}

.panel-heading {
     text-align: center;
     padding: 1px 15px;
}

.nav-pills > li > a { padding: 0 12px; }

.nav-pills .arrow { padding: 0; }

.navbar-inverse .navbar-nav > li > a { font-size: 21px}

.referenceOnly{ display: none; }

.classOnly{ display: inherit; }

.jumbotron { padding: 0 40px 0 40px; }

.label_box {     
    padding-top: 85px;
    display: inline-block;
    min-width: 180px;
    margin: 7px;
}

.nav-pills > li > a:hover {
    background-color: #EBEDED;
    color: #4E5859;
}

/*
    Bootstrap Tabs Reset
*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: #664659;
}

.nav-tabs a {
    font-size: 34px;
    color: #f0f0f0
}

.nav-tabs a:hover {
    font-size: 34px;
    color: #ffffff
}

.tab-pane {
    font-size: 24px;
    padding: 6px 0;
}
 
.nav-tabs > li > a, .nav-tabs > li > a:hover {
    font-size: 30px;
    padding: 3px 15px;
    border-radius: 0;
}   

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
}

.tab-nav-prev { 
    position: absolute;
    bottom: 5%;
    left: 5%; 
}

.tab-nav-next { 
    position: absolute;
    bottom: 5%;
    right: 5%; 
}

/*.tab-pane { height: calc(100vh - 162px); }*/

/* 
    Landing Page
*/

.landingPage .jumbotron {
    background: none;
    font-size: 30px;
    padding: 0;
}
.landingPage .jumbotron h1 { font-size: 85px; }

.landingPage a { color: #ffffff; }


/* 
    Media Square
*/

.mediaSquare {
    width: 100%;
    padding: 29px 40px 40px 40px;
    margin-top: 15px;
    color: #ffffff;
    vertical-align: middle;
    border-radius: 4px;
    height: inherit;
    margin-bottom: inherit;
}

.mediaSquare-title {
    font-size: 36px
}

.mediaSquare-link {
    font-size: 26px;
    position: relative;
    display: none;
}

.mediaSquare a {
    color: #ffffff;
}

.navbar-fixed-top {opacity: 0; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top:hover { opacity: 1; }

@media (min-width: 1290px) {

    .body { padding-top: 0; }

    .jumbotron { padding: 0 40px 7px 40px; }

    .tab-pane {
        font-size: 25px;
        padding: 40px 0;
    }

    .label_box {     
        padding-top: 120px;
    }

    .mediaSquare {
        width: 100%;
        padding: 40px 40px 63px 40px;
        margin-top: 25px;
        color: #ffffff;
        vertical-align: middle;
        border-radius: 4px;
        height: inherit;
        margin-bottom: inherit;
    }

    .btn-full {
        margin-top: 15px;
    }

    .mediaSquare-link {
        display: inherit;
    }

    .container {
        max-width: 1290px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1700px;
    }

    /* fonts */

    body {
        font-size: 30px;
    }

    h1, .h1 {
        font-size: 57px;
    }

    .jumbotron h1 {
        font-size: 83px;
    }

    .lead {
        font-size: 31px;
    }
 
    .tab-pane {
        font-size: 35px;
        padding: 0;
    }

    .mediaSquare-title {
        font-size: 48px;
    }

    .mediaSquare-link {
        font-size: 30px;
    }

    .nav-pills {
        font-size: 30px;
    }

    .btn-sm {
        font-size: 21px;
    }

    .form-control {
        height: 47px;
        font-size: 21px;
    }

    input { max-width: 476px; }
    
    .mediaSquare {
        padding: 70px 70px 90px 70px;
    }

    .label_box {
        min-width: 238px;
    }
    .jumbotron {
        padding: 13px 40px 20px 40px;
        margin-bottom: 46px;
    }

    p {
        margin: 0 0 22px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
        padding-bottom: 19px;
        padding-top: 19px;
    }
}
