﻿html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgba(0,176,138,1);
    background: -moz-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,176,138,1)), color-stop(100%, rgba(0,123,137,1)));
    background: -webkit-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: -o-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: linear-gradient(to bottom, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
}

body {
    background: none;
    color: #ffffff;
}

.centered {
    position: fixed;
    top: 11%;
    left: 25%;
}


@media (min-width: 1700px) {
    .centered {
        top: 20%;
    }
}
