﻿@font-face {
    font-family: "Geogrotesque";
    src: url(/fonts/Geogrotesque-Rg.ttf) format("truetype");
}

@font-face {
    font-family: "SourceSansPro";
    src: url(/fonts/SourceSansPro-Regular.ttf) format("truetype");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'SourceSansPro';
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, .lead .btn { font-family: 'Geogrotesque'; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Boostrap Overrides for Nerdery Branding 
    - Turquise: #007B89
    - Dark Gray: #4e585b
    - Grey Tint 2: #889091
    - Grey Tint 7: #EBEDED
    - Purple: #664659
    - Green: #00B08A
    - Medium Blue: #d5eeef
    - Light Blue: #e9f6f6
*/

.navbar-inverse { 
    background-color: #4e585b;
    border: 0;
}

.navbar-inverse .navbar-brand { color: #ffffff; }

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    padding-bottom: 16px;
    padding-top: 16px
}

.jumbotron {
    color: #ffffff;
    background-color: #000000;
}

.jumbotron_abrupt { margin-bottom: 0; }

.container .jumbotron { border-radius: 0; }
.btn {
    color: #ffffff;
    border: none;
}

.btn-default { background-color: #007B89; }

.btn-primary {
    background-color: #664659;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #4e585b;
    border: none;
}

.navbar-right { background-color: #293C3D;}

.nav-pills { margin: 20px 0 20px 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #00B08A;
}

.nav-pills > li > a {
     width: 170px;
    background-color: #EBEDED;
    margin: 5px;
}

.nav-pills > li > a:hover {
    background-color: #CAD0D1;
}

.nav-pills .arrow { display: none; }

.well { margin-bottom: 0; }

a { color: #007B89; }

a:hover { color: #4e585b; }

.jumbotron a { color: #ffffff; }

.label-default { background-color: #4e585b; }

.label-info { background-color: #00B08A }

.panel-default { margin-top: 20px; }

.panel-default .panel-heading {
    background-color: #00B08A;
    color: #ffffff;
    font-size: 26px;
}

.row-spaced { margin-top: 20px; }

.nav > li > a { display: inline-block; }

h2 { font-size: 20px; }

/* 
    Logo 
*/

@media screen and (min-width: 960px) {
    .globalHeader-primary-shadow .globalLogo-container>* {
        fill: #fff;
    }
    .globalLogo-container-mark {
        width: 39px;
    }

    .globalLogo-container > * {
        fill: #007d8a;
    }  
    
    .globalLogo-container > * > * {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    } 

    .globalLogo-container-mark .globalLogo-container-svg {
        max-height: 36px;
    }

    .globalLogo-container-type {
        margin-top: 3px;
        margin-left: 13px;
        width: 165px;
    }

    .globalLogo-container>*>* {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .globalLogo-container-type .globalLogo-container-svg {
        max-height: 20px;
    }
}


@media screen and (min-width: 1em) {
    .globalLogo-container > * {
        display: inline-block;
        padding: 10px 0;
        text-align: center;
        font-size: 0;
        fill: #fff;
    }

    .globalLogo-container-mark {
        width: 25px;
        height: auto;
        margin: 0 auto;
    }

    .globalLogo-container-mark .globalLogo-container-svg {
        max-height: 32px;
    }

    .globalLogo-container-type {
        margin-top: 6px;
        width: 70px;
        height: auto;
    }

    .globalLogo-container-type .globalLogo-container-svg {
        max-height: 8px;
    }

    svg[Attributes Style] {
        x: 0px;
        y: 0px;
    }

    user agent stylesheet html|* > svg {
        transform-origin: 50% 50% 0px;
    }

    user agent stylesheet svg:not(:root), symbol, image, marker, pattern, foreignObject {
        overflow: hidden;
    }

    user agent stylesheet * {
        transform-origin: 0px 0px 0px;
    }
}

/*
    InfoBox
*/

.infoBox {
    margin-bottom: 30px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.infoBox_border_None {
    border: none;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.infoBox_border_Thin {
    border-width: 1px;
}

.infoBox_border_Thick {
    border-width: 3px;
}

.infoBox-hd {
    background-color: #664659;
    color: #ffffff;
    padding: 1px 10px 1px 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.infoBox-hd_Small h2 {
    margin-top: 8px;
    margin-bottom:7px;
    font-size: 16px;
}

.infoBox-hd_Medium h2 {
    margin-top: 15px;
    margin-bottom:13px;
    font-size: 20px;
}

.infoBox-hd_Large h2 {
    margin-top: 25px;
    margin-bottom:23px;
    font-size: 28px;    
}

.infoBox-hd_align_left {
    text-align: left;
}

.infoBox-hd_align_center {
    padding: 1px;
    text-align: center;
}

.infoBox-hd_align_right {
    text-align: right;
}

.clickable:hover {
    cursor: pointer;
    background-color: #4e585b;
}

/*.infoBox-hd h2 {
    margin-top: 15px;
    margin-bottom: 13px;
}*/

.infoBox-bd { padding: 10px; }

/*
    videoWrapper
*/
.videoWrapper {
    position: relative;
    padding-bottom: 41.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 35px;
    width: 75%;
    margin: 35px auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
    Media Square
*/

.mediaSquare {
    margin-bottom: 40px;
}
/*
    Nerdery brand color Background
*/

.nerderyGradientBack {
    color: #ffffff;
    background: rgba(0,176,138,1);
    background: -moz-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,176,138,1)), color-stop(100%, rgba(0,123,137,1)));
    background: -webkit-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: -o-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    background: linear-gradient(to bottom, rgba(0,176,138,1) 0%, rgba(0,123,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b08a', endColorstr='#007b89', GradientType=0 );
}

.nerderyTurquoiseBack { background-color: #007B89; }
.nerderyGreenBack { background-color: #00B08A; }
.nerderyPurpleBack { background-color: #664659; }
.nerderyGrayBack { background-color: #889091; }

.nerderyTurquoiseText { color: #007B89; }
.nerderyGreenText { color: #00B08A; }
.nerderyPurpleText { color: #664659; }
.nerderyGrayText { color: #889091; }

.classOnly{ display: none; }

@media screen and (min-width: 768px) {


}

@media (min-width: 992px) {
    .nav-pills .arrow {
        padding: 10px 5px;
        display: inherit;
    }

    .nav-pills > li > a {
        width: inherit;
        background: none;
        margin: inherit;
    }

    /* 
        Media Square
    */

    .mediaSquare {
        height: 250px;
    }

    .mediaSquare-link {
        position: absolute;
        bottom: 0;
    }
}